* {
    margin: 0;
}
body {
    margin: 0 auto;
    text-align: center;
    width: 100vw;
}

header {
    padding: .3em;
    box-shadow: 2px 3px 8px grey;
    margin-top: 0;
}
#progressionContainers {
    box-shadow: 5px 5px 10px grey;
    min-width: fit-content;
    max-width: 50%;
    margin: 1em auto;
}
.progression {
    display: flex;
    justify-content: space-evenly;
}
.chord {
    padding: 10px;
    margin: 15px;
    max-width: 50px;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 3px 2px 5px silver;
    transition: .1s ease-in-out all;
}
.chord:hover, button:hover {
    transform: scale(1.05)
}
#buttons {
    margin-top: 1em;
}
button {
    padding: .4em;
    margin: 1em .5em;
    border: none;
    box-shadow: 4px 3px 8px gray;
    transition: .1s ease-in-out all;
}
button:active {
    background-color: black;
    color: white;
    border-color: maroon;
}
#options {
    padding: 1em;
    box-shadow: 3px 3px 5px silver;
    width: fit-content;
    margin: 0 auto;
}
input[type="number"] {
    width: 2em;
    margin-left: 1em;
    box-shadow: 3px 3px 5px silver;
    border: 1px solid gray;
}
#savedDisplay {
    width: max-content;
    height: min-content;
    background-color: black;
    color: white;
    position: fixed;
    padding: 1em;
    border-radius: 3px;
    left: 60vw;
    top: 1em;
}
#savedProgression {
    background: white;
    color: black;
    padding: .2em;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px gray;;
    margin: 1em 0;
}

@media (max-width: 475px) {
    #savedDisplay {
        left: 0;
        width: 7em;
    }
}
